name: Codechecks
on: [push]
jobs:
  flake8:
    runs-on: ubuntu-latest
    container:
      image: continuumio/miniconda3
    steps:
      - run: /bin/bash --login
      - run: conda create -n punkreas python=3.9
      - run: source activate punkreas
      - run: conda install pip
      - run: pip install flake8 flake8-docstrings
      - run: flake8