name: Documentation
on: [push]
jobs:
  sphinx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          conda install pip
          pip install -e .[dev]
      - name: Build documentation
        run: |
          sphinx-apidoc -o doc/source svsuperestimator -f -M
          sphinx-build -b html -d doc/build/doctrees  doc/source doc/build/html
          mv ./doc/build/html ./public
          pwd
          ll
      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public